<svg x = "{{ x }}" y = "{{ y }}" width="{{ width }}" height="{{ height }}" style="position:absolute;">
    <defs>
        <marker id="arrow-start" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="userSpaceOnUse">
            <path d="M9,0 L0,3 L9,6 z" fill="#ff0000" />
        </marker>
        <marker id="arrow-end" markerWidth="10" markerHeight="10" refX="9" refY="3" orient="auto" markerUnits="userSpaceOnUse">
            <path d="M0,0 L0,6 L9,3 z" fill="#ff0000" />
        </marker>
    </defs>

    {{ lines|safe }}

</svg>

