<div id="G{{ "{}-{}-{}".format(ctype, cmode, gnum) }}" style="
        width:{{ end.x - begin.x }}px;
        height:{{ end.y - begin.y }}px;
        left:{{ begin.x }}px;
        top:{{ begin.y }}px;
        background:rgba(0,0,0,0);
        position:absolute;"
     title="{{ gtext|safe }}"
>
    <fieldset style="height:{{ end.y - begin.y + ([0, fs - 20] | sort | last ) }}px">
        <legend style="font-size:{{ fs }}px;color:black;font-weight:thin;">{{ gtext|safe }}</legend>
    </fieldset>
</div>

