<!doctype html>
<title>{{ title }}</title>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}
<script type="text/javascript">
    function getCertaintyColor(alpha) {
        if (alpha < 0) {
            console.log(alpha);
            return [180, 180, 180, 1.0];
        }
        var defaultColor = "{{ defaultcolor }}".split(",");
        var fullHighlight = "{{ highlightcolor }}".split(",");
        var highlighted = [];
        for (var i=0;i<3;i++) {
            var defaultColorI = parseInt(defaultColor[i]);
            var fullHighlightI = parseInt(fullHighlight[i]);
            if (defaultColorI > fullHighlightI) {
                highlighted.push(Math.round(defaultColorI - (defaultColorI - fullHighlightI) * alpha));
            } else {
                highlighted.push(Math.round(defaultColorI + (fullHighlightI - defaultColorI) * alpha));
            }
        }
        highlighted.push(1.0);
        return highlighted;

    }
    $(function () {
        var update = function() {
            $.getJSON($SCRIPT_ROOT + '/loop',
                function(data) {
                for (var i in data.c) {
                    var splitted = data.c[i].split("::");
                    var id = splitted[0];
                    var alpha = parseFloat(splitted[1]);
                    var object = $('#C'+id);
                    object.css('background','rgba(' + getCertaintyColor(alpha) + ')');
                }
                for (var j in data.r) {
                    splitted = data.r[j].split("::");
                    id = splitted[0];
                    alpha = parseFloat(splitted[1]);
                    object = $('#R'+id);
                    object.css('stroke','rgba(' + getCertaintyColor(alpha) + ')');
                    object.css('strokewidth', alpha*2+3.0);
                }
                });
        };
        setInterval(update, 500);
    });
</script>
<!-- <h1>EpiSim example</h1> -->

{#    <h1> What's in her mind </h1>#}
{{ divs|safe }}
{{ svg|safe }}
<svg x = "0" y = "0" width="800" height="1000" style="position:absolute;">

<line id="HR"
      x1="100" y1="{{ hr }}"
       x2="700" y2="{{ hr }}"
      stroke="#000000"
      stroke-width="5"
</line>
    </svg>


    {% endblock %}
