<!doctype html>
<title>{{ title }}</title>

<head>
    <meta charset="UTF-8">
    <title>EpiSim</title>
    <style>
        #cy {
            width: 70%;
            height: {{ concept_w *1.3}}px;
            display: block;
            {#border:1px solid black;#}
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<script type="text/javascript">
    {# 0/F - waiting for init, 1/T - waiting for update #}
    var initiated = 0;
    var engaged = 0;

    function getCertaintyColor(certainty) {
        let fullHighlight;
        let defaultColor;
        if (certainty < 0) {
            return [80, 80, 80, 1.0];
        }
        const highlighted = [];
        if (certainty <= 0.5) {
            defaultColor = "{{ startColor }}".split(",");
            fullHighlight = "{{ midColor }}".split(",");
            certainty = certainty * 2;
        } else {
            defaultColor = "{{ midColor }}".split(",");
            fullHighlight = "{{ endColor }}".split(",");
            certainty = (certainty - 0.5) * 2;
        }
        for (var i=0;i<3;i++) {
            const defaultColorI = parseInt(defaultColor[i]);
            const fullHighlightI = parseInt(fullHighlight[i]);
            if (defaultColorI > fullHighlightI) {
                highlighted.push(Math.round(defaultColorI - (defaultColorI - fullHighlightI) * certainty));
            } else {
                highlighted.push(Math.round(defaultColorI + (fullHighlightI - defaultColorI) * certainty));
            }
        }
        highlighted.push(1.0);
        return highlighted;

    }

    function update() {
        if (!initiated) {
            wait_init();
        } else if (!engaged) {
            wait_engage();
        } else {
            wait_aware();
        }
    }

    function wait_engage() {
        $.getJSON($SCRIPT_ROOT + '/initloop',
            function (data) {
                if (parseInt(data) == 2) {
                    $('#graphs').show();
                    $('#cy').show();
                    engaged = 1;
                }
            });
    }

    {# define looping function for epistemic initialization #}
    function wait_init() {
        $.getJSON($SCRIPT_ROOT + '/initloop',
            function (data) {
                initiated = parseInt(data);
                if (initiated) {
                    {# when initialized, reload page and flip the loop fn #}
                    {# hack job to force reload just once #}
                    var url = window.location.href;
                    if (url.indexOf('?') < 1) {
                        if (url.indexOf('init') < 0) {
                            url = url + "?init=true";
                            window.location = url;
                        }
                    }
                    placeCyDiv({{ grab_anchor_x }} - {{ concept_w }} * cy_x_offset_ratio
                        , {{ grab_anchor_y + concept_h * 1.05 }});
                }
            })
    }

    {# define looping function for epistemic update #}
    function wait_aware() {
        $.getJSON($SCRIPT_ROOT + '/awareloop',
            function (data) {
                {# feed "0" when diana says "bye", then reload page and flip the loop fn #}
                if (parseInt(data) === 0) {
                    engaged = 0;
                    $('#graphs').hide();
                    $('#cy').hide();
                    return;
                }
                let id;
                let splitted;
                for (const i in data.c) {
                    splitted = data.c[i].split("|");
                    id = splitted[0];
                    var certainty = parseFloat(splitted[1]);
                    var object = $('#C' + id);
                    object.css('background', 'rgba(' + getCertaintyColor(certainty) + ')');
                }
                for (const j in data.r) {
                    splitted = data.r[j].split("|");
                    id = splitted[0];
                    certainty = parseFloat(splitted[1]);
                    object = $('#R' + id);
                    object.css('stroke', 'rgba(' + getCertaintyColor(certainty) + ')');
                    object.css('strokewidth', certainty * 2 + 3.0);
                }
                for (const k of data.l) {
                    add_cy_node(k)
                }
            })
    }

    {# run the looping function once the document is fully loaded #}
    $(document).ready(function () {
        setInterval(update, 100);
    });

    function force_refresh() {
        initiated = 0;
        engaged = 0;
        $('#graphs').innerHTML = '';
        var url = window.location.href;
        if (url.indexOf('?') > -1) {
            url = url.substring(0,url.indexOf('?'))
            window.location = url;
        }
    }
</script>
<div id="title" style="
            width:100%;
            height:100px;
            left:0px;
            top:0px;
            background:rgba(0,0,0,0);
            position:fixed;"
     title="EpiSim">
    <button type="button" onclick="force_refresh()">Reset!</button>
    <button type="button" onclick="test_add()">Add!</button>
    <h1 align="center">EpiSim</h1>
    <h2 align="center">Visualizing the Agent's epistemic state about current user</h2>
</div>
<div id="graphs">
    {{ concept_divs|safe }}
    {{ relation_svg|safe }}
    {{ property_boxes|safe }}
</div>
<div id="cy"></div>
<script>

    var learnedGesture = 0;

    function placeCyDiv(x_pos, y_pos) {
        var d = document.getElementById('cy');
        d.style.position = "absolute";
        d.style.left = x_pos+'px';
        d.style.top = y_pos+'px';
    }

    function add_cy_node(node){
        cy.add([
            { group: 'nodes',
                data: { id:node.id, label:`${node.id}\n${node.str}`},
                position: get_next_cy_node_pos(),
                classes: 'center-center',
                width: parseInt({{ concept_w }}),
                height: parseInt({{ concept_h }}),

        }]);
        cy.add([{ group: 'edges',
                data: { id: 'e'+learnedGesture, source: 'ori', target: node.id }
            }
        ]);
        learnedGesture++;

    }

    function get_next_cy_node_pos() {
        return {
            x: {{ concept_w * 0.4  }} + {{  concept_w }} * learnedGesture,
            y: {{ concept_h * 0.7 }}
        }
    }

    var cy_x_offset_ratio = 1.0;

    var cy = cytoscape({
        container: document.getElementById('cy'), // container to render in
        elements: [ // list of graph elements to start with
            {#cy.add({#}
            {#    group: 'nodes',#}
            {#    data: { weight: 75 },#}
            {#    position: { x: 200, y: 200 }#}
            { // node a
                data: { id: 'ori', label:""},
                position: { x: {{ concept_w }} * cy_x_offset_ratio, y: 0 },
            }
        ],

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'background-color': getCertaintyColor(1),
                    'label': 'data(label)',
                    'opacity': 1,
                    'shape': 'round-rectangle',
                    'border-width' : 2,
                    'border-color' : '#000',
                    'text-valign': "center",
                    'text-halign': "center",
                    'text-wrap': "wrap",
                    "text-max-width": {{ concept_w * 0.5 }},
                    'font-size': '24px',
                    'width': parseInt({{ concept_w * 0.7 }}),
                    'height': parseInt({{ concept_h * 0.7 }}),

                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 10,
                    'curve-style': 'straight',
                    'line-color': getCertaintyColor(1),
                    'target-arrow-color': '#000',
                    'target-arrow-shape': 'triangle',
                    'font-size': '48px'
                }
            }
        ],

        layout: {
            name: 'preset',
            fit: false,
            padding: 10,
            animate: true,

        }
    });
    cy.$('#ori').style({opacity:0, width:1, height:1})
</script>

</body>
